    /* body{
        background-color: rgb(242, 250, 241);
      margin: 0%;
    }

    #maindiv{
        align-items: center;
        justify-content: center;
        width: 90%;
        height:90vh;
        background-color: white(222, 230, 236);
       
    }


.card{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 20vh;
    margin: 5px;
    padding: 5px;
    background-color: rgb(162, 238, 22);
   
}


#part1{
    display: flex;
    gap: 1%;
}


 .cards{
    display: grid;
    align-items: center;
    width: 14%;
    height: 45vh;
    background-color: rgb(162, 238, 22);
  
} 
.card1{
    display: flex;
    width: 65%;
    height: 45vh;
    background-color: rgb(162, 238, 22);
} 

.card2{
  
    width: 15%;
    height: 45vh;
    background-color: rgb(162, 238, 22);
} */



body{
    background-color: white(197, 193, 201);
    margin: 0%;
}

#maindiv{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 85vh;
    background-color:white(194, 186, 202);
}
#part1{
    display:flex;
    gap: 1%;
  
}

.card{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40vh;
    margin: 5px;
    padding: 5px;
    background-color:rgb(46, 218, 23) ;
}


#part2{
    display:flex;
    gap: 1%;
  
}


#part3{
    display:flex;
    gap: 1%;
   
}

.card2{
    display: flex;
    width: 50%;
    height: 18vh;
    margin: 2px;
    padding:2px;
    background-color: rgb(211, 221, 201);
}

#part4{
    display:flex;
    gap: 1%;
   
}


