
body{
margin: 0%;
}

#main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  background-color: #030E24;
}

#logo{
  display: flex; 
  color: #00E7FB;
  padding: 3%;
  } 

 #navbar{
display: flex;
align-items: center;
justify-content: center;
width: 45%;
gap: 10%;
color:  #00E7FB;  
}
  

.search-bar {
    display: flex;
    align-items: center;
    padding-right: 6%; 
    width:60%;
  
  }

 .search-input {
    border: none;
    outline: none; 
    padding: 10px  15px; 
    width:70%;
    font-size: 20px;
     border-radius: 20px;
    background-color:#030E24;
     border: 1px solid skyblue;

  }  

 .search-button {
    background: none;
    border: none;
    cursor: pointer;
  } 

  @media screen and (max-width:768px){
  #main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
#logo{
  display: flex;
  justify-content: space-between; 
 
  }

  #logo h1{
    font-size: medium;
  }

 #navbar{
display: flex;
 align-items: center;
 width: 35%;
} 

  #navbar h2{
    font-size:medium;
  }

#search-bar {
  display: flex;
    align-items: center;
    justify-content: center;
  width: 35%; 
  }

 .search-input { 
    border: none;
    outline: none;
     border-radius: 25px;
    background-color:#030E24;
     border: 1px solid skyblue;
     color: azure;
  font-size: 12px;
      
  }   

 .search-button {
    background: none;
    border: none;
    cursor: pointer;
  } 

  }  
   /* hero section */
 
.containerimg {
  background-image:url("./devOps-Banner\ 1.jpg"); 
  height: 70vh;
    display: flex;
    font-family: sans-serif;
  }

  #contaxt{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  color: white;
 padding: 75px;
 width:45%;

  }


.container {
    display: flex;
    gap: 3%;
}

.box1 {
  width: 150px;
  height: 60px;
  background-color: #00E7FB;
  color: black;
  display: flex;
  border: 1px solid skyblue;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.box2 {
width: 150px;
height: 60px;
color: #00E7FB;
display: flex;
border: 1px solid skyblue;
justify-content: center;
align-items: center;
border-radius: 10px;
cursor: pointer;
}

h2 {
    font-size: 16px;
    text-align: center;
  
} 

@media screen and (max-width:768px){

  .containerimg {
    background-image:url("./devOps-Banner\ 1.jpg"); 
    height: 45vh;
    }
  
    #contaxt{
      align-items: center;
    color: white;
   padding: 5%;
   width: 100%;
    }
  

  #contaxt h1{
    font-size: 20px;
  }
  #contaxt p{
    font-size: 16px;
  } 

  

.container {
    display: flex;
    gap: 5%;
}

.box1 {
    width: 100px;
    height: 50px;
    background-color: #00E7FB;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.box2 {
  width: 100px;
  height: 50px;
color: #00E7FB;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

h2 {
    font-size: 11px;
    text-align: center;
}
} 

/* our services */

#service{
  display: flex;
  flex-direction: column;
  
}

#para2{
 display: flex;
 flex-direction: column;
 text-align:center;
 font-size: 20px;
 color: black;
} 

#boxes{
  padding: 2%;
  display: flex;
 gap: 2%;
 
 
} 


 .card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 20px;
  background-color:#030E24;
padding: 30px;
border-radius: 25px;
} 

#design{

  display: flex;
  justify-content: center;
    gap: 1%;
}

.circle {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* media query */
@media screen and (max-width:768px){
  



#para2 ,h1{
  font-size: 20px;
}

#para2 ,p{
  font-size: 15px;
}

#boxes{
 display: grid;
 grid-template-columns:1fr 1fr;
 padding: 5%;


}

 .card{
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  background-color:#030E24;
  width: 80%;
border-radius: 15px;
word-wrap: wrap;
} 

#design{
  display: flex;
  justify-content: center;
  align-items: center;
    gap: 2%;
    
}

.circle {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 30px;

}
}


/* the about portion */

 #about{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 #text{
  display: flex;
  flex-direction: column;
   align-items: center;
   justify-content: center;
  font-size: 25px;
}
#img1 img{
  width: 360px;
  height: 360px;
}

#img img{
  width: 360px;
  height: 360px;
}




.part1{
  display: flex;
  gap: 12%;
  font-size: 20px;

} 

.part2{
  display: flex;
  gap: 12%;
  font-size: 20px;

} 
 
.part3{

  display: flex;
  gap: 12%;
  font-size: 20px;
}

.box {
  width: 170px;
  height: 70px;
  background-color: #00E7FB;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid skyblue;
  border-radius: 15px;
  cursor: pointer;
}

@media screen and (max-width:768px){


   #text{
    font-size: 15px;
    word-wrap: wrap;
  }

  #img1 img{
    width: 260px;
    height: 260px;
  }
  
  #img img{
    width: 260px;
    height: 260px;
  }
  
  
  .part1{
 padding: 2%;
    gap: 12%;
    font-size: 18px;
    word-wrap: wrap;
  } 
   
  .part2{
    padding: 2%;
    gap: 5%;
    font-size: 18px;
    word-wrap: wrap;
  }

  .part3{
    padding: 2%;
    gap: 5%;
    font-size: 18px;
    word-wrap: wrap;
  }
  
  
  .box {
    width: 100px;
    height: 50px;
    background-color: #00E7FB;
    color: black;
    border-radius: 15px;
  }

}


/* customer feedback */

.feedback{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#030E24 ;
}

#customerfeedback{
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: wrap;
  justify-content: center;
  p{
    font-size: 20px;
  }
  color: white;
}


#images{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:3%;
}

img{
  width: 290px;
  height: 290px;
}

#monica{
  word-wrap: wrap;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: white;
  align-items: center;
  justify-content: center;
  h2{
    font-size: 30px;
  }
  padding: 75px;
}

#design2{
  display: flex;
  justify-content: center;
  align-items: center;
    gap: 3%;
  background-color:white(177, 36, 36);
}

.circle2 {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
} 


.circle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border: 2px solid black;
  background-color: white;
  border-radius: 50%;
  font-size: 30px;
} 

@media screen and (max-width:768px){
  #customerfeedback{
    display: flex;
    padding: 5%;
    color: white;
    p{
      font-size: 20px;
    }
    
  }
  
  #images{
  
    gap:4%;
  }
  
  img{
    width: 130px;
    height: 130px;
  }
  
  #monica{
    font-size: 20px;
    padding: 5%;
    align-items: center;
    justify-content: center;
    h2{
      font-size: 20px;
    }
  }
  
  #design2{
      gap: 3%;
  }
  
  .circle2 {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
  } 
  
  
  .circle1 {
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 50%;
  } 

}




/*   
this is our team */   
  #officestaff{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:white ;
  gap: 14%;
}


#team{
  display: flex;
  flex-direction: column;
}


#textportion{
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: white;
 p{
  font-size: 25px;
 }
}

.ceo{
  display: flex;
  gap: 16%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
hr{
  height: 600px;
  border: 1px solid black;


}

#teammembers{
  display: flex;
  flex-direction:column ;
  padding: 35px;
}

.employee{
  display: flex;
  gap: 12%;
 font-size: 20px;
} */
 #interns{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#interns img{
  width: 200px;
  height: 200px;
} 

@media screen and (max-width:768px){
  #officestaff{
    gap: 10%;
  }
  
  
  #team{
    display: flex;
    flex-direction: column;
  }
  
  
  #textportion{
   word-wrap: wrap;
   padding: 3%;
   p{
    font-size: 20px;
   }
  }
  
  .ceo{
    display: flex;
    gap: 12%;
    font-size: 15px;
  }
  hr{
    height: 400px;
  }
  
  #teammembers{
    padding: 25px;
  }
  
  .employee{
 
    gap: 10%;
   font-size: 15px;
  } 

  #interns img{
    width: 100px;
    height: 100px;
  } 

}




/* this is office */
 #office{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12%;
}



#firstheading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.infrastructure{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pictures{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  img{
    width: 460px;
    height: 350px;
  }
} 

@media screen and (max-width:768px){
  #office{
    gap: 8%;
  }
  
  .pictures{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    img{
      width: 240px;
      height: 240px;
    }
  }

}

 /* frequently asked Questions  */
  #firstpart{
  display: flex;
  gap: 5%;
 }

 .thoery{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
 }


 #questions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


 }

details{
  margin-bottom: 8px;
border: 1px solid black;
}


summary{
  background-color: lightblue;
  padding: 20px;
 border: 0.5px solid black;
}
details p{
  background-color: beige;
  padding: 15px;
  margin-left: 10px;
}

@media screen and (max-width:768px){
  #firstpart{
    gap: 5%;
   }
  
   .thoery{
    padding: 3%;
    word-wrap: wrap;
   }
  

  
  details{
    margin-bottom: 6px;
  border: 1px solid black;
  }
  
  
  summary{
    background-color: lightblue;
    padding: 15px;
   border: 0.5px solid black;
   word-wrap: wrap;
  }
  details p{
    background-color: beige;
    padding: 10px;
    margin-left: 10px;
  }
}



/* 
here you can enter your email */

 #email{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
 }

   input{ width: 400px;
  height: 20px;
  font-size: 15px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid black;
} 

/* this is our footer */

.footer{
  display: flex;
  background-color:#030E24;
  gap: 5%;
}

.logo{
  display: flex;
  flex-direction: column;
  color: rgb(8, 184, 184);
  padding: 1%;
} 

#h2{
  color: white;
}

.row{
  display: flex;
 
}

.footer-col{
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-size: 20px;
}
 h3{
  color:  rgb(8, 184, 184);
  font-size: 25px;
 }
 @media screen and (max-width:768px){
  
.footer{
  background-color:#030E24;
  gap: 3%;
}

.logo{
word-wrap: wrap;
  color: rgb(8, 184, 184);
  padding: 3%;
} 

#h2{
  color: white;
}

.row{
  display: flex;
 
}

.footer-col{
 word-wrap: wrap;
  font-size: 14px;
}
 h3{
  color:  rgb(8, 184, 184);
  font-size: 14px;
 }

 }
  